h2{
  color: #10DED0;
}
h3{
  color: #F54B10
}
.button{
  margin-right: 10px;
  background-color: #10DED0;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #10DED0;
  color: black;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
