<div *ngIf="article" class="container">
  <a href="/article">< Retour aux articles</a>
  <div class="row">
    <div class="justify-content-center col-8">
      <h2 class="text-center">{{article.sousTitre}}</h2>
      <p>{{article.date}}</p>
      <p>{{article.contenu}}</p>
    </div>
    <div class="col-4">
      <h3>Filtres associés</h3>
        <row *ngFor="let filtre of article.filtre">
            <a href="#" class="col-4 button w-button">{{filtre}}      x</a>
        </row>
    </div>
  </div>
  <div class="global">
    <div class="row">
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
    </div>
  </div>

</div>
