<section id="contact" class="container-fluid">
  <h2>Mauritius - Contact</h2>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="container">
      <div class="form-row">
        <div class="col">
          <div class="form-group"><input class="form-control" type="text" name="prenom" placeholder="Prénom" ngModel></div>
        </div>
        <div class="col">
          <div class="form-group"><input class="form-control" type="text" name="nom" placeholder="Nom" ngModel></div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email" ngModel><small class="form-text text-danger">Please enter a correct email address.</small></div>
        </div>
        <div class="col"><select class="form-control" name="objet" ngModel>
            <option value="" disabled>Objet</option>
            <option value="question" [ngValue]="objet[0]">Question</option>
            <option value="article" [ngValue]="objet[1]">Proposer un article</option>
        </select></div>
      </div>
      <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="5" ngModel></textarea></div>
      <input type="file" id="file" name="file" accept="application/pdf">
      <div class="form-group d-flex justify-content-end"><button class="btn btn-primary" type="submit">ENVOYER</button></div>
    </form>
  <footer>
    Copyright 2020 - Mentions légales
  </footer>
</section>
