footer {
  font-family: Marvel;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
}
button, button[type="submit"]:hover{
  color: transparent;
  background-color: white;
  border-radius: 4px;
  color: #00A8A7;
}
button[type="submit"], button:hover{
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
input, select, textarea, input:focus, select:focus, textarea:focus{
  background-color: #00A8A7;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}
::placeholder{
  color: white;
}
#contact{
  height: 513px;
  background-color: #00A8A7;
}
#contact > h2 {
  position: absolute;
  height: 48px;
  left: 19.19%;
  font-family: 'Marvel', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.833467);
}
