<mat-card *ngIf="msg">
  <a style="color: white" routerLink="..">< Retour</a>
  <h2>Message de {{msg.nom}} {{msg.prenom}}</h2>
  <h3>Envoyé le {{msg.date}}</h3>
  <h3>Mail : {{msg.email}}</h3>
  <h3>Objet : {{msg.objet}}</h3>
  <h3>Contenu :</h3>
  <p>{{msg.message}}</p>
</mat-card>
