<mat-card>
  <mat-card-content>
    <h1>Changer de mot de passe | PAS IMPLEMENTE</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field>
        <input matInput type="password" name="oldPassword" placeholder="Ancien mot de passe" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="newPassword" placeholder="Nouveau mot de passe" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="newPasswordRe" placeholder="Confirmer le nouveau mot de passe" ngModel>
      </mat-form-field>
      <div style="display: flex; justify-content: flex-end">
      <button mat-button (click)="reload()">Annuler</button>
      <button mat-raised-button type="submit" value="changePassword">Valider</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
