<div *ngIf="actualite" class="container">
  <a href="/actualite">< Retour aux actualites</a>
  <div class="justify-content-center">
    <h2 class="text-center">{{actualite.sousTitre}}</h2>
  </div>


  <div class="col-8 justify-content-around">
    <p>{{actualite.date}}</p>
    <p>{{actualite.contenu}}</p>
  </div>


  <div class="global">
    <div class="row">
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
      <div class="col-3 card border-0 mb-4">
        <img src="assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="...">
      </div>
    </div>
  </div>

</div>
