<section id="les-dernières-actus">
  <h2>Les dernières actus</h2>
  <div class="actu">
    <div *ngFor="let actu of actus" class="m-2">
      <img src="../../../assets/img/sunset-3901577_1280.jpg" alt="">
      <a href="/actualite/{{actu._id}}" ><h3>{{actu.titre}}</h3></a>
    </div>
  </div>
  <a href="/actualite"><strong>| Plus d'actus |</strong></a>
</section>
