h2{
  color: #10DED0;
}
h3{
  color: #F54B10;
  border: 1px solid rgba(0, 0, 0, 0.33002);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
}
a{
  color: black;
}
img {
  width:200px;
  height: 200px;
  clip-path:ellipse(50% 50%);
  margin-bottom: -15px;
}
.actu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#les-dernières-actus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

