@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

nav{
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: black;
  align-content: center;
}
li{
  list-style: none;
  margin-top: 5%;
}
ul{
  display: inline-block;
}
a{
  color: black;
  font-family: 'Marvel', sans-serif;
}

