<style>
  header {
    background-image: url("../../../assets/img/Le-morne-Unesco-ile-maurice.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 5%;
    transition: all 1.5s ease;
  }
</style>
<header id="header" class="parallax" [style.height]="main().bgSize">
  <nav>
    <a style="font-size: x-large" routerLink="/"><strong>{{ title }}</strong></a>
    <div>
      <ul *ngFor="let link of links">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="{{link.url}}"><strong>{{link.title}}</strong></a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 style="
  color: white;
  text-align: center;
" [style.marginTop]="main().textSize">{{main().titre}}</h1>
</header>
