#l-île-maurice-en-quelques-mots{
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}
#prêt-pour-l-aventure > div {
  background-color: rgba(0, 0, 0, 0.4);
  height: 423px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
iframe{
  align-self: center;
}
p{
  font-family: 'Marvel', sans-serif;
}
a{
  color: white;
  font-family: 'Marvel', sans-serif;
}
