<style>
  #prêt-pour-l-aventure {
    background-image: url("../../../assets/img/art-4988390_1280.jpg");
    background-attachment: fixed;
    height: 423px;
    background-size: cover;
    background-position: 25% 75%;
  }
</style>
<section id="l-île-maurice-en-quelques-mots">
  <h2 style="color: #07dfd1">L'île maurice en quelques mots</h2>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed leo nec dui imperdiet congue
      tempor id eros. Maecenas cursus posuere nibh lacinia consequat. Nunc orci augue, pellentesque
      pretium pellentesque sed, elementum sit amet ante.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed leo nec dui imperdiet congue
      tempor id eros. Maecenas cursus posuere nibh lacinia consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed leo nec dui imperdiet congue
      tempor id eros. Maecenas cursus posuere nibh lacinia consequat. Nunc orci augue, pellentesque
      pretium pellentesque sed, elementum sit amet ante. Phasellus tristique lectus vitae dolor
      interdum, sit amet sagittis purus dapibus.</p>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d402841.42893658957!2d57.59974464511462!3d-20.27247317969861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x217c504df94474c9%3A0x4203d9c2116bd031!2sMaurice!5e0!3m2!1sfr!2sfr!4v1609900409516!5m2!1sfr!2sfr"
    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</section>
<section id="prêt-pour-l-aventure">
  <div>
    <h2>Prêt pour l'aventure ?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed leo nec dui imperdiet congue
      tempor id eros. Maecenas cursus posuere nibh lacinia consequat. Nunc orci augue, pellentesque
      pretium pellentesque sed, elementum sit amet ante.</p>
    <a href="/article">| Découvrir |</a>
  </div>
</section>
<app-les-dernieres-actus class="m-5"></app-les-dernieres-actus>
