<section class="container-fluid">
  <div class="row">
    <div *ngFor="let actu of actus" class="d-flex flex-row col-6">
      <img src="../../../assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="">
      <div class="border rounded mb-4 padding">
        <h3><a href="/actualite/{{actu._id}}">{{actu.titre}}</a></h3>
        <p>Publié le {{actu.date}}</p>
        <p>{{actu.description}}</p>
        <a href="/actualite/{{actu._id}}">> voir l'article</a>
      </div>
    </div>
  </div>
</section>
