<button mat-button (click)="displayCounter=0">Article</button>
<button mat-button (click)="displayCounter=1">Actualite</button>
<section *ngIf="dataSourceArticle && displayCounter == 0">
  <table mat-table [dataSource]="dataSourceArticle" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Nom de l'article </th>
      <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>

    <ng-container matColumnDef="filtres">
      <th mat-header-cell *matHeaderCellDef> Filtres </th>
      <td mat-cell *matCellDef="let element">
      <mat-chip-list>
        <mat-chip *ngFor="let filtre of element.filtre">{{filtre}}</mat-chip>
      </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date de publication </th>
      <td mat-cell *matCellDef="let element"> Date de publication </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button routerLink="/article/{{element._id}}"><mat-icon>edit</mat-icon></button>
        <button mat-button (click)="deleteArticle(element._id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsArticle"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsArticle;"></tr>
  </table>
</section>

<section *ngIf="dataSourceActualite && displayCounter == 1">
  <table mat-table [dataSource]="dataSourceArticle" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titre de l'actu </th>
      <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date de publication </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Contenu en quelques mots </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button routerLink="/actualite/{{element._id}}"><mat-icon>edit</mat-icon></button>
        <button mat-button (click)="deleteActualite(element._id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsActualite"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsActualite;"></tr>
  </table>
</section>
