<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Mauritius Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Liste du contenu</a>
      <a mat-list-item routerLink="/addcontent">Ajouter du contenu</a>
      <a mat-list-item routerLink="/filtres">Gestion des filtres</a>
      <a mat-list-item routerLink="/msg">Messagerie</a>
      <a mat-list-item routerLink="/mdp">Mot de passe</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="display: flex; justify-content: flex-end">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <button mat-button (click)="logout()"><mat-icon>power_settings_new</mat-icon></button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
