<section class="container">
  <div *ngFor="let article of articles" class="d-flex flex-row">
    <img src="../../../assets/img/2048px-Île_aux_Cerfs,_île_Maurice.jpg" alt="" class="m-4">
    <div class="border rounded p-4 m-4">
      <h3><a href="/article/{{article._id}}">{{article.titre}}</a></h3>
      <p>Publié le {{article.date}}</p>
      <p>{{article.description}}</p>
      <a routerLink="/article/{{article._id}}">> voir l'article</a>
    </div>
  </div>
</section>
