<mat-card>
  <mat-card-content>
    <h1 style="color: white">Mauritius</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field>
      <input matInput type="text" name="email" placeholder="Email" ngModel>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="password" name="password" placeholder="Mot de passe" ngModel>
      </mat-form-field>
      <mat-error *ngIf="(false)">
        Email ou Mot de passe incorrect
      </mat-error>
      <button mat-button type="submit" value="login">Connexion</button>
    </form>
  </mat-card-content>
</mat-card>
