<section *ngIf="dataSource">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date d'envoi </th>
    <td mat-cell *matCellDef="let element"> DATE </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="objet">
    <th mat-header-cell *matHeaderCellDef> Objet </th>
    <td mat-cell *matCellDef="let element"> {{element.objet}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button routerLink="/msg/{{element._id}}"><mat-icon>visibility</mat-icon></button>
      <button mat-button (click)="deleteMsg(element._id)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</section>
